.flights {
    margin-top: 50px;
    width: 1000px;
}
.flight__header {
    display: flex;
    justify-content:space-between;
    background-color: #0087c9;
    color: white;
}
.flight__company {
    font-size: 35px;
}
.flight__price {
    text-align: right;
    margin-right: 10px;
}
.price__number {
    font-size: 30px;
}
.price__caption {
    font-size: 15px;
}
.yellow-button {
    background-color: #ffb168;
}